@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #1f1f45;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.heading {
    text-align: center;
    margin-top: 5rem;
    font-size: 3.5rem;
}

.create_session_button {
    border: 3px dashed white;
    width: min-content;
    height: min-content;
    padding: 1rem;
    margin: 15rem auto auto auto;
    white-space: nowrap;
    border-radius: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: #2f2f55;
    transition: 0.25s;
}

.create_session_button:hover,
.create_session_button:focus {
    background-color: #1f1f45;
    transform: scale(1.025);
}

#session_id_container {
    margin: auto;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    font-size: 2rem;
}