@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #1f1f45;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.heading {
    text-align: center;
    margin-top: 5rem;
    font-size: calc(100vw / 18 * 1.5);
}

.sub_heading {
    text-align: center;
}

form {
    margin: auto;
    margin-top: 5rem;
}

form input[type="text"] {
    background-color: #1f1f45;
    color: #ffffff;
    border: 0px;
    border-bottom: 2px white solid;
    font-size: 1.5rem;
    width: 75vw;
    display: block;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

form input[type="submit"] {
    background-color: #451245;
    color: #ffffff;
    border: 0px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    width: 80vw;
    display: block;
    margin: 2.5rem auto auto auto;
    cursor: pointer;
}

.top_bar {
    width: calc(100vw - 6rem);
    text-align: center;
    height: 2.5rem;
    font-size: 1.75rem;
    background-color: #451245;
    position: fixed;
    top: 0;
    right: 6rem;
}

#top_bar_session {
    width: 6rem;
    height: 2.5rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #2a1245;
}

.abort_pause_button {
    width: 100vw;
    text-align: center;
    background-color: red;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    padding-top: 0.25rem;
    cursor: pointer;
}